
{% include "header.html" %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item active">
            <img src="assets/img/hero-carousel/hero-carousel-1.jpg" alt="">
            <div class="carousel-container">
                <h2> Добро Пожаловать в <span>Global Grants</span></h2>
                <p>
                  Global Grants дает студентам возможность поступить в лидирующие университеты по всему миру. Мы предлагаем индивидуальную консультацию,
                  помощь в подготовке документов, выборе программы и подготовке к собеседованиям.
                  <br> <br>
                  С нами вы можете поступить в университеты Турции, Польши и Венгрии, а так же выиграть полный грант на обучение.
                </p>
            </div>
            <div class="vertical-line left-line">|</div>
            <div class="vertical-line right-line">|</div>
        </div><!-- End Carousel Item -->
        <!-- Add more carousel items here -->
    </div>

      <div class="featured container">

        <div class="row gy-4">
          <div class="col-lg-4 d-flex" >
            <div class="featured-item position-relative">
              <div class="icon">
                <i class="bi-pin-map-fill" style="font-size: 34px;"></i>
              </div>
              <h4><a href=" {{ url_for('turkiye_desc')}} " class="stretched-link"></a>  Türkiye Bursları</h4>
              <p>
                Узнай о том как выиграть полный грант на обучение в Турции.
              </p>
            </div>
          </div><!-- End Featured Item -->



          <div class="col-lg-4 d-flex" >
            <div class="featured-item position-relative">
              <div class="icon"><i class="bi bi-pin-map-fill"></i></div>
              <h4><a href="{{ url_for('turkiye_direct')}}" class="stretched-link">  Поступление в Турцию </a></h4>
              <p>
                Узнай о том как напрямую поступить в университеты Турции.
              </p>
            </div>
          </div><!-- End Featured Item -->


          <div class="col-lg-4 d-flex" >
            <div class="featured-item position-relative">
              <div class="icon"><i class="bi-pin-map-fill"></i></div>
              <h4><a href="{{ url_for('poland_desc')}}" class="stretched-link"></a> Поступление в Польшу</h4>
              <p>
                Узнай о том как напрямую поступить в университеты Польши.
              </p>
            </div>
          </div><!-- End Featured Item -->


          <div class="col-lg-4 d-flex" >
            <div class="featured-item position-relative">
              <div class="icon"><i class="bi-pin-map-fill"></i></div>
              <h4><a href="{{ url_for('hungary_desc')}}" class="stretched-link">  Stipendium Hungaricum</a></h4>
              <p>
                Узнай о том как выиграть полный грант на обучение в Венгрии.
              </p>
            </div>
          </div><!-- End Featured Item -->

          <div class="col-lg-4 d-flex" >
            <div class="featured-item position-relative">
              <div class="icon"><i class="bi-pin-map-fill"></i></div>
              <h4><a href="https://t.me/globalgrants2021?text=Здравствуте,%20пишу%20вам%20по%20поводу%20Мотивационного%20письма!%20Хотел(а)%20бы%20заказать%20для%20бакалавриата.%20" class="stretched-link"> Мотивационное Письмо </a></h4>
              <p>Заказать письмо для поступления заграницу.</p>
            </div>
          </div><!-- End Featured Item -->

        </div>

      </div>

    </section><!-- /Hero Section -->


  </main>

  {% include "footer.html" %}


