

{% include "header.html" %}

<main class="main">
  <div class="page-title" data-aos="fade">
    <div class="container">
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Главная</a></li>
          <li class="current">Цены</li>
        </ol>
      </nav>
    </div>
  </div>

  <section id="pricing" class="pricing section">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <div class="row g-4">

        
          <div class="col-lg-4" >
              <div class="pricing-item">
                <h3>Межпрофильная консультация</h3>
                <div class="icon"><i class="bi bi-tags"></i></div>
                <h4>$20</h4>
                <ul>
                  <b> <li><i class="bi bi-bag-check-fill"></i> Оценка шансов поступления и советы по улучшению портфолио! </li> </b>
                  <li><i class="bi bi-check"></i> Разбор портфолио</li>
                  <li><i class="bi bi-check"></i> Подбор университетов по специальности</li>
                  <li><i class="bi bi-check"></i> Анализ и оценка шансов поступления на грант</li>
                  <li><i class="bi bi-check"></i> Выгодные предложения и персональные скидки по нашим услугам</li>
                  <li><i class="bi bi-check"></i> Советы и рекомендации для улучшения портфолио </li>
                </ul>
                <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20по%20поводу%20платной%20консультации.%20Хотел(а)%20бы%20записаться!%20" class="buy-btn"> Подробнее </a></div>
              </div>
          </div>



        
        <div class="col-lg-4">
            <div class="pricing-item">
              <h3> Türkiye Bursları </h3>
              <div class="icon"><i class="bi bi-tags"></i></div>
              <h4>$200</h4>
              <ul>
                <b> <li><i class="bi bi-bag-check-fill"></i> Данный пакет увеличит ваши шансы на выигрыш гранта!</li> </b>
                <li><i class="bi bi-check"></i> Заполнение Анкеты</li>
                <li><i class="bi bi-check"></i> Написание мотивационного письма</li>
                <li><i class="bi bi-check"></i> Помощь с рекомендательным письмом</li>
                <li><i class="bi bi-check"></i> Выбор городов</li>
                <li><i class="bi bi-check"></i> Выбор университетов </li>
                <li><i class="bi bi-check"></i> Помощь в сборе документов на Визу и ВНЖ</li>
                <li><i class="bi bi-check"></i> Подготовка к интервью</li>
              </ul>
              <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20Türkiye%20Bursları!%20Хотел(а)%20бы%20приобрести%20пакет%20Наставничество!%20" class="buy-btn">Подробнее</a></div>
            </div>

        </div>

       
        <div class="col-lg-4">
          <div class="pricing-item">
            <h3> Прямое поступление в Турцию</h3>
            <div class="icon"><i class="bi bi-tags"></i></div>
            <h4>$700 </h4>
            <ul>
              <b> <li><i class="bi bi-bag-check-fill"></i> Цель гарантированно поступить в Турцию!</li> </b>
              <li><i class="bi bi-check"></i> Выбор университетов (5-10 университетов)</li>
              <li><i class="bi bi-check"></i> Улучшение портфолио</li>
              <li><i class="bi bi-check"></i> Сбор документов в университеты</li>
              <li><i class="bi bi-check"></i> Помощь в сборе документов на Визу и ВНЖ</li>
              <li><i class="bi bi-check"></i> Выбор университетов </li>
              <li><i class="bi bi-check"></i> Выбор городов</li>

            </ul>
            <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20прямого%20поступления%20в%20Турцию.%20Хотел(а)%20бы%20приобрести%20ваши%20услуги!%20" class="buy-btn">Подробнее</a></div>
          </div>
        </div>


       
        <div class="col-lg-4">
          <div class="pricing-item">
            <h3> Польша Basic </h3>
            <div class="icon"><i class="bi bi-tags"></i></div>
            <h4>$350</h4>
            <ul>
              <b> <li><i class="bi bi-bag-check-fill"></i> Оценка шансов поступления и советы по улучшению портфолио! </li> </b>
              <li><i class="bi bi-check"></i> Консультация по выбору университета  и направления  </li>
              <li><i class="bi bi-check"></i> Помощь в сборе всех документов  </li>
              <li><i class="bi bi-check"></i> Подача заявок в 5-10 университетов </li>
              <li><i class="bi bi-check"></i> Помощь в прохождении интервью </li>
              <li><i class="bi bi-x"></i> Подготовка к языковому экзамену </li>
              <li><i class="bi bi-x"></i> Визовая поддержка </li>
              <li><i class="bi bi-x"></i> Помощь в получении нострификации аттестата  </li>
              <li><i class="bi bi-x"></i> Сопровождение после поступления по всем аспектам жизни в течении первых трех месяцев </li>
            </ul>
            <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20прямого%20поступления%20в%20Польшу.%20Хотел(а)%20бы%20приобрести%20ваши%20услуги%20(пакет%20Польша%20Basic)!" class="buy-btn">Подробнее</a></div>
          </div>
        </div>


          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Польша Standard </h3>
              <div class="icon"><i class="bi bi-tags"></i></div>
              <h4>$500</h4>
              <ul>
                <b> <li><i class="bi bi-bag-check-fill"></i> Оценка шансов поступления и советы по улучшению портфолио! </li> </b>
                <li><i class="bi bi-check"></i> Консультация по выбору университета  и направления  </li>
                <li><i class="bi bi-check"></i> Помощь в сборе всех документов  </li>
                <li><i class="bi bi-check"></i> Подача заявок в 5-10 университетов </li>
                <li><i class="bi bi-check"></i> Помощь в прохождении интервью </li>
                <li><i class="bi bi-check"></i> Подготовка к языковому экзамену </li>
                <li><i class="bi bi-check"></i> Визовая поддержка </li>
                <li><i class="bi bi-check"></i> Помощь в получении нострификации аттестата  </li>
                <li><i class="bi bi-check"></i> Сопровождение после поступления по всем аспектам жизни в течении первых трех месяцев </li>
              </ul>
              <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20прямого%20поступления%20в%20Польшу.%20Хотел(а)%20бы%20приобрести%20ваши%20услуги%20(пакет%20Польша%20Standard)!%20" class="buy-btn">Подробнее</a></div>
            </div>
          </div>

          
        <div class="col-lg-4">
          <div class="pricing-item">
            <h3> Türkiye Bursları + Прямое поступление в 1 университет </h3>
            <div class="icon"><i class="bi bi-tags"></i></div>
            <h4>$800</h4>
            <ul>
              <b> <li><i class="bi bi-bag-check-fill"></i> С данным пакетом вы сможете подать на грант, также гарантированно подать напрямую в один университет Польши или Турции (на ваш выбор)</li> </b>
              <li><i class="bi bi-check"></i> Заполнение Анкеты</li>
              <li><i class="bi bi-check"></i> Написание мотивационного письма</li>
              <li><i class="bi bi-check"></i> Помощь с рекомендательным письмом</li>
              <li><i class="bi bi-check"></i> Выбор университетов (5-10 университетов)</li>
              <li><i class="bi bi-check"></i> Подготовка к интервью</li>
              <li><i class="bi bi-check"></i> Улучшение портфолио</li>
              <li><i class="bi bi-check"></i> Сбор документов в университеты</li>
              <li><i class="bi bi-check"></i> Помощь в сборе документов на Визу и ВНЖ</li>
              <li><i class="bi bi-check"></i> Выбор университетов </li>
              <li><i class="bi bi-check"></i> Выбор городов</li>
            </ul>
            <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20Türkiye%20Bursları!%20Хотел(а)%20бы%20приобрести%20пакет%20Türkiye%20Bursları%20+%20прямое%20поступление%20в%20один%20университет!" class="buy-btn">Подробнее</a></div>
          </div>
        </div>



        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Stipendium Hungaricum</h3>
            <div class="icon"><i class="bi bi-tags"></i></div>
            <h4>$300</h4>
            <ul>
              <b> <li><i class="bi bi-bag-check-fill"></i> Данный пакет увеличит ваши шансы на выигрыш гранта!</li> </b>
              <li><i class="bi bi-check"></i> Консультация по выбору университета  и направления </li>
              <li><i class="bi bi-check"></i> Помощь в сборе всех документов </li>
              <li><i class="bi bi-check"></i> Помощь в заполнении анкеты </li>
              <li><i class="bi bi-check"></i> Подача заявок в университеты</li>
              <li><i class="bi bi-check"></i> Подготовка к экзамену  </li>
              <li><i class="bi bi-check"></i> Визовая поддержка  </li>
              <li><i class="bi bi-check"></i> Сопровождение после поступления по всем аспектам жизни в течении первых трех месяцев </li>
            </ul>
            <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20Stipendium%20Hungaricum!%20Хотел(а)%20бы%20приобрести%20данный%20пакет!" class="buy-btn">Подробнее</a></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-item">
            <h3> Türkiye Bursları Basic </h3>
            <div class="icon"><i class="bi bi-tags"></i></div>
            <h4>$30</h4>
            <ul>
              <b> <li><i class="bi bi-bag-check-fill"></i> Грамотное и качественное заполнение анкеты 1-го тура (Онлайн курс - видеоуроки)</li> </b>
              <li><i class="bi bi-check"></i> Заполнение Анкеты Гайд</li>
              <li><i class="bi bi-check"></i> Написание мотивационного письма Гайд </li>
              <li><i class="bi bi-check"></i> Написание рекомендательных писем Гайд </li>
              <li><i class="bi bi-check"></i> Выбор университетов Гайд </li>
              <li><i class="bi bi-check"></i> Примеры успешных работы (анкеты, мотивационные письма)</li>
              <li><i class="bi bi-check"></i> Бонус: Примеры тестов 2-го тура </li>
            </ul>
            <div class="text-center"><a href="https://t.me/globalgrants2021?text=Здравствуйте,%20пишу%20вам%20по%20поводу%20Türkiye%20Bursları!%20Хотел(а)%20бы%20приобрести%20пакет%20Türkiye%20Bursları%20Basic!" class="buy-btn">Подробнее</a></div>
          </div>
        </div>


      </div>
    </div>
  </section>

</main>

{% include "footer.html" %}

<style>
/* Pricing Page Styles */
.pricing .pricing-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.pricing .pricing-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pricing .pricing-item h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.pricing .pricing-item .icon {
  display: flex;
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
  margin: 30px 0; /* Increased margin to create space above and below the icon */
  font-size: 40px;
  color: #007bff;
  height: 60px; /* Ensure flex centering works */
  width: 60px;  /* Ensure flex centering works */
  margin-left: auto;
  margin-right: auto;
}

.pricing .pricing-item h4 {
  font-size: 24px;
  color: #007bff;
}

.pricing .pricing-item ul {
  list-style: none;
  padding: 0;
}

.pricing .pricing-item ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.pricing .pricing-item ul li i {
  color: #28a745;
  margin-right: 5px;
}

.pricing .pricing-item ul li.na i {
  color: #dc3545;
}

.pricing .pricing-item .buy-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.pricing .pricing-item .buy-btn:hover {
  background: #0056b3;
}

/* //////////////////////////////////////////// */

/* Targeting bi-x icons to make them red */
.pricing .pricing-item ul li i.bi-x {
  color: #dc3545; /* Red color */
}

</style>
