



{% include "header.html" %}

<body>
    <br>
    <h1 style="text-align: center; margin-bottom: 40px;">Basic Türkiye Bursları Application</h1>

    <div class="folder-container">
        <!-- Folder 1 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder1')"> СБОР ДОКУМЕНТОВ</div>
            <div class="folder-content" id="folder1">

                <!-- Subfolder 1.1 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder1_1')">1.1 ЗНАКОМСТВО И СБОР ДОКУМЕНТОВ</div>
                    <div class="folder-content" id="folder1_1">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/13JN8XmOx4BBP9c_TPHI8lNX8P34CZO32/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>

                <!-- Subfolder 1.2 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder1_2')">1.2 СОЗДАНИЯ АККАУНТА ДЛЯ ГРАНТА</div>
                    <div class="folder-content" id="folder1_2">
                        <h4>Как сделать регистрацию на сайте Türkiye Bursları?</h4>
                        <ol>
                            <li>Вы заходите на сайт <a href="https://www.turkiyeburslari.gov.tr/" target="_blank">https://www.turkiyeburslari.gov.tr/</a></li>
                            <li>Меняете язык сайта на Английский</li>
                            <li>Нажимаете на кнопку APPLICATION/LOGIN в верхнем правом углу</li>
                            <li>Нажимаете на кнопку Register</li>
                            <li>Заполняете поля (как в паспорте), аккаунт GMAIL должен быть рабочий (следующие 5 лет будете использовать этот аккаунт)</li>
                            <li>Далее вам придет код на GMAIL</li>
                            <li>Подтверждаете код и ваш аккаунт готов!</li>
                        </ol>
                    </div>
                </div>

                <!-- Subfolder 1.3 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder1_3')">1.3 ПРИМЕРЫ ДОКУМЕНТОВ</div>
                    <div class="folder-content" id="folder1_3">
                        <h4>Пример Транскрипта</h4>
                        <div class="pdf-container">
                            <iframe src="https://drive.google.com/file/d/1BlwMsDVvu6ayaoEGbj0wTKOVwDSgG4RJ/preview" allowfullscreen width="100%" height="auto"></iframe>
                        </div>
                        <br><br><br>
                        <h4>Пример CV</h4>
                        <div class="pdf-container">
                            <iframe src="https://drive.google.com/file/d/1ctAivpztlvnGC4xrQdEpOUA-jaBHsRVs/preview" allowfullscreen width="100%" height="auto"></iframe>
                        </div>
                        <br><br><br>
                        <h4>Пример Аттестата</h4>
                        <div class="pdf-container">
                            <iframe src="https://drive.google.com/file/d/1qWw2SOZQxZxGiJ0aEVXMe1uWR-pN27MB/preview" allowfullscreen width="100%" height="auto"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Folder 2 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder2')"> ЗАПОЛНЕНИЕ АНКЕТЫ </div>
            <div class="folder-content" id="folder2">
                <!-- Subfolder 2.1 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder2_1')">2.1 АНКЕТА </div>
                    <div class="folder-content" id="folder2_1">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/1etTzzDYlgHCtCt-xD0MB2Xwzh5dXOsPo/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>
                <!-- Subfolder 2.2 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder2_2')">2.2 АНКЕТА</div>
                    <div class="folder-content" id="folder2_2">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/1yBibZCnyjz2hNc5sKd3cdYnXzsRAuC_u/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Folder 3 -->
<div class="folder">
    <div class="folder-header" onclick="toggleFolder('folder3')"> МОТИВАЦИОННОЕ ПИСЬМО </div>
    <div class="folder-content" id="folder3">
        <!-- Subfolder 3.1 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder3_1')">3.1 МОТИВАЦИОННОЕ ПИСЬМО</div>
            <div class="folder-content" id="folder3_1">
                <div class="video-container">
                    <iframe src="https://drive.google.com/file/d/1lu--Th0doug6T6Vc9f3qvsNqOgA7M-g-/preview" allowfullscreen width="100%" height="400"></iframe>
                </div>
            </div>
        </div>
        <!-- Subfolder 3.2 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder3_2')">3.2 МОТИВАЦИОННОЕ ПИСЬМО</div>
            <div class="folder-content" id="folder3_2">
                <div class="video-container">
                    <iframe src="https://drive.google.com/file/d/1OcCaBlqKzKlVEyPeD85T7HuuWu1EStpv/preview" allowfullscreen width="100%" height="400"></iframe>
                </div>
            </div>
        </div>
        <!-- Subfolder 3.3 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder3_3')">3.3 ПРМЕРЫ МОТИВАЦИОННЫХ ПИСЕМ </div>
            <div class="folder-content" id="folder3_3">
                <h4>Пример 1: Специальность - Радио, Телевидение и Кино</h4>
                <br>
                <p> 
                    Starting my letter, I would like to apply for the Türkiye Burslari undergraduate program in the academic year
                    2023-2024. The reason I firmly chose Turkey is my interest in the film and theater industry in Turkiye. Turkiye is
                    famous for its outstanding actors and directors. As an example, I would like to study at Kadir Has University,
                    where renowned directors Tevfik Baser, Tan Tolga Demirci, and director-producer Tung Sahin conduct lectures
                    on how to be productive in this field. I can make my debut as an actor at the Kadir Has University by
                    contributing to the culture of cinema and theater not only the culture of Turkiye but also the culture of my
                    homeland - Kazakhstan During my school time, I tried many hobbies, such as dancing, drawing, playing
                    basketball, knitting, and others.
                    <br><br>
                    However, the main activity of my extracurricular life I always consider
                    performance arts which I have been engaged in continuously for 6 years now. During this time I have managed
                    to develop myself as an actor, reveal my artistry and ability to work with audiences of different ages, becoming
                    more open and communicative. I understood that my main aim in life is to give impressions through my creative
                    work to see how people show happy smiles or tears when my performance has touched them to the bottom of
                    their souls. Also, I worked with different staff and in various places which taught me to adapt quickly to changes
                    in conditions and find common languages with each colleague. After some time, I began to conduct my own
                    theater and acting classes at my school and now I am writing scripts, hosting events, and staging plays within
                    the school and beyond for almost 2 years. Worth mentioning, I was responsible for organizing events, concerts,
                    school competitions, and open days at school where we always come up with something creative and unique.
                    <br><br>
                    Also, I am doing volunteer work in the youth resource center of my city where my team and I conduct various
                    activities, and forums to reduce and solve current problems of society and humanity. I realized that I want my
                    work in theatrical art to discuss sensitive social topics that should not be silenced in order to increase
                    awareness of these problems, such as drug and alcohol addiction. I am convinced that any of my work would spiritually
                    develop young people and have cultural value in order to change this world by influencing people and
                    society through the path of art. I consider my main goal to be in theater and film scenes as well as the opening
                    of my theater studio where I will be able to teach the younger generation the knowledge and skills that I will
                    acquire during my university studies.
                    <br><br>
                    I thank the commission of Türkiye Burslari for reading and considering my
                    candidacy for the government grant.
                </p>
                <br><br><br><br>
                <h4>Пример 2: Специальность - Химическая Инженерия </h4>
                <br>
                <p> 
                    With this letter, I would hereby like to apply for a Bachelor program Türkiye Bursları in the academic year 2021.
                    After considerable research, I know I am making an excellent choice by deciding to study in Turkey due to the
                    well-established yet progressive nature of its universities, and I have seen that many of its university’s science
                    faculties run in partnership with multinational companies. Further, the high quality of equipment at Turkish
                    universities, such as The Izmir Institute of Technology and Middle East Technical University will allow me to
                    write scientific publications based on the cutting-edge experiments I could perform in such well-equipped
                    laboratories under the tutelage of esteemed European and international professors. These facilities give me a
                    chance to turn my ideas into tangible solutions.
                    <br><br>
                    What I can contribute to the program, in addition to my great
                    passion to be a part of your university, I have a solid academic background based on the STEM discipline and
                    trilingual education at Nazarbayev Intellectual School. I tailored my secondary school program around courses
                    in Physics and Chemistry. My time at NIS has also taught me that schools do not exist in isolation, but rather as
                    part of a wider community. I began to apply the knowledge I was accumulating over years and I became a
                    leader of a volunteer organization “UCan Study”, through which I with the cooperation of other talented
                    volunteers provide tutoring and masterclasses for unprivileged children. Today, we have more than 2000
                    students from 8 countries, who get our support in educational and personal growth every day. This experience
                    shows me that sharing knowledge and inspiration are powerful tools for creating a better community. Following
                    my goal to reinforce accumulated knowledge to the development of my country, I hope to invest my efforts in
                    improving the quality of education all around the world and to be a valuable global citizen.
                    <br><br>
                    Besides my academic achievements, I play an active role in several extra-curricular activities. I have spent the last three
                    years leading our choreographic club and have hosted about twenty school events. This responsibility helped
                    me to develop my organisational and leadership skills. While I certainly hope my academic achievements will
                    support the engineering and economics faculties, my well-rounded background in the performing arts and
                    sports will also allow me to serve as a leader for a student organization at your academic institution. It is my
                    intention to use my sound academic background as well as my social and organizational skills to become a
                    leading student at your academic institutions.
                    <br><br>
                    “Türkiye Bursları” is a great match for my interests and future
                    career. I see this as a great opportunity to reach the next level in my academic life and fly high for my dreams.
                    Best Regards, Kanabekova Madina
                </p>
                <br><br><br><br>
                <h4>Пример 2: Специальность - Педагог </h4>
                <br>
                <p>
                    Уважаемая Приемная Комиссия,
                    <br><br>
                    Я пишу вам с целью участия в стипендиальной программе “Türkiye Bursları” так как я горю желанием учиться именно в Турции.
                    Любовь к тюркской культуре у меня появилась еще в раннем детстве. Я часто устраивала для родственников домашние спектакли,
                    где я переодевалась в османскую госпожу и напевала песни с восточным мотивом. Также я ходила в театральную студию, в которой
                    мне давали роли восточных принцесс из-за моей довольно смуглой кожи и темных волос. Меня называли маленькой турчанкой, и мне
                    очень нравилось данное прозвище. Чуть позже я всерьез начала интересоваться турецкой культурой и историей. Особенно меня привлекали
                    такие личности как Осман Гази, Мехмед Фатих, Сулейман Великолепный, Хасеки Хюррем Султан, Бюйюк-Валиде Кесем Султан и конечно же Ататюрк.
                    А в 20ХХ году побывав в Измире и увидив страну изнутри я точно поняла, что хочу поступить в Турцию. 
                    <br><br>
                    Естественно, моя безграничная любовь к Турции не единственная причина моего поступления. Турецкие вузы объективно очень сильные,
                    дипломы котируются во всем мире. Будучи заинтересованной в получении образования в Турции, я решила сначала посоветоваться с турецким
                    посольством в Беларуси, а после принять решение. Так мой выбор пал на Dokuz Eylul Universitesı. В университете учатся много студентов,
                    для меня как для довольно общительного человеа это важно. Комфортная и современная обстановка тоже стала аргументом за. Посольство меня
                    уведомило, что это сильный ВУЗ, который славится высококвалифицированными преподавателями и современными лабораториями. Также меня привлекло
                    то, что университет расположен в Измире - городе с богатой культурой и историей. Я уверена, что этот университет не только обогатит мои академические
                    знания, но и позволит погрузиться в уникальный социокультурный контекст.
                    <br><br>
                    Я выбрала факультет педагогическое образование, потому что очень люблю детей и отлично лажу с ними. А преподавать я желаю по направлению физика.
                    Причиной является моя большая любовь и интерес к данной науке. В своей школе я хожу на педагогический факультатив и там проявила себя как “непризнанный
                    специалист”. Я провела достаточно много уроков для начальных, средних и даже старших классов. Провела День Самоуправления, на котором была
                    директором всей школы. Я показала такие результаты, которые не показывал никто за последние десять лет. Я уверена, что быть учителем - мое призвание.
                    Также я хотела бы внести свой вклад в педагогическую отрасль университета. Новые методики касательно формирования лидерских и управленческих качеств
                    характера учащихся. Новые методики преподавания, новые методики проведения культурно-массовых мероприятий. Все перечисленное я активно организовывала
                    в своей школе. Я бы хотела, чтобы и мой будущий университет перенял все наилучшее из того, что я умею и люблю.
                    <br><br>
                    В заключении, благодарю за такую прекрасную возможность. С нетерпением жду от вас хороших новостей.
                    <br><br>
                    С уважением, XXX
                </p>
            </div>
        </div>
    </div>
</div>

        <!-- Folder 4 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder4')"> РЕКОМЕНДАТЕЛЬНОЕ ПИСЬМО </div>
            <div class="folder-content" id="folder4">
                <!-- Subfolder 4.1 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder4_1')">4.1 РЕКОМЕНДАТЕЛЬНОЕ ПИСЬМО</div>
                    <div class="folder-content" id="folder4_1">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/1on976P6Q43zsZfrcp-IYyvrtnnqGkMHF/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>
                <!-- Subfolder 4.2 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder4_2')">4.2 ПРИМЕРЫ РЕКОМЕНДАТЕЛЬНЫХ ПИСЕМ</div>
                    <div class="folder-content" id="folder4_2">
                        <h4>Пример Первый</h4>
                        <div class="pdf-container">
                            <iframe src="https://drive.google.com/file/d/1-3PikXhob5BH8MPNINGwKZKqRSndOwXX/preview" allowfullscreen width="100%" height="auto"></iframe>
                        </div>
                        <br><br><br>
                        <h4>Пример Второй</h4>
                        <div class="pdf-container">
                            <iframe src="https://drive.google.com/file/d/1da-WFBVsWh-0RgRwQ_fmGFFIXvf-QXls/preview" allowfullscreen width="100%" height="auto"></iframe>
                        </div>
                    </div>
                </div>




            </div>
        </div>

        <!-- Folder 5 -->
        <div class="folder">
            <div class="folder-header" onclick="toggleFolder('folder5')"> ВЫБОР УНИВЕРСИТЕТОВ </div>
            <div class="folder-content" id="folder5">
                <!-- Subfolder 5.1 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder5_1')">5.1 ВЫБОР УНИВЕРСИТЕТОВ</div>
                    <div class="folder-content" id="folder5_1">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/1Q27AQzpZkojPLN_tks82wb1_20Dr_Js0/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>
                <!-- Subfolder 5.2 -->
                <div class="folder">
                    <div class="folder-header" onclick="toggleFolder('folder5_2')">5.2 ВЫБОР УНИВЕРСИТЕТОВ</div>
                    <div class="folder-content" id="folder5_2">
                        <div class="video-container">
                            <iframe src="https://drive.google.com/file/d/1TF-c6mgvd97Do5S5EGCZCGvqLdbn5TdM/preview" allowfullscreen width="100%" height="400"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleFolder(folderId) {
            var folderContent = document.getElementById(folderId);
            if (folderContent.style.display === "none" || folderContent.style.display === "") {
                folderContent.style.display = "block";
            } else {
                folderContent.style.display = "none";
            }
        }
    </script>
</body>

{% include "footer.html" %}


<style>
    body {
        font-family: Arial, sans-serif;
    }

    .folder-container {
        max-width: 800px;
        margin: 0 auto;
    }

    .folder {
        margin-bottom: 20px;
    }

    .folder-header {
        background-color: #3498db;
        color: white;
        padding: 20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
    }

    .folder-content {
        display: none;
        background-color: #ecf0f1;
        padding: 20px;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 16px;
    }

    .folder-header:hover {
        background-color: #2980b9;
    }

    /* Extra space between the last folder and footer */
    .folder-container {
        margin-bottom: 50px;
    }

    /* Responsive PDF container */
    .pdf-container {
        margin-top: 20px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        padding-bottom: 141.42%; /* 210mm / 148mm => A4 ratio */
    }

    .pdf-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Responsive folder container */
    @media (max-width: 768px) {
        .folder-container {
            padding: 0 15px;
        }

        .folder-header {
            font-size: 18px;
            padding: 15px;
        }

        .folder-content {
            font-size: 14px;
            padding: 15px;
        }
    }

    /* Styling for h4 tags */
    h4 {
        color: #ff6f00;
    }
</style>
